

header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font:12px;
}

.menuderoulant {
    height : 80px;
    list-style: none;
    padding:10px;
    margin:40px;
}

.menuderoulant li {
    float: left;
    width: 200px;
    list-style:none;
}

.menuderoulant li a:link, .menuderoulant li a:visited {
    display: block;
    color: white;
    background:rgb(32, 32, 32);
    padding : 6px 10px;
    border-right:1px solid white ;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {
    text-shadow:0 0 5px rgb(228, 67, 8), 0 0 10px rgb(228, 67, 8);
}

.imgH {
    max-width: 100%;
    max-height: 500px;
}
